$browser-context: 10; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

//Z-index https://dev.to/nidhishs/5-scss-mixins-to-check-out-2bkn
$z-indices: (
  "menu": (
    "items": 2,
    "social": 3,
  ),
  "main-content": 1,
  "footer": -1,
);

@function ind($element, $sub-element: false) {
  $index: map-get($z-indices, $element);
  @if $sub-element {
    $index: map-get($index, $sub-element);
  }

  @return $index;
}
