/* _-_-_- pages/CART -_-_-_ */

.cart__products-container {
    display: flex;
}

.cart__products-list {
    width: 80%;
}

.cart__cart-elem {
    display: flex;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 1%;
    padding: 1%;
}

.cart__cart-elem__itemIndx {
    vertical-align: middle;
    margin: auto 1rem auto 0;
    border-radius: 25%;
    width: 8%;
    height: 8%;
    text-align: center;
    background-color: #000000;
}

.cart__cart-elem__itemInfo {
    margin: auto;
    margin-right: 2rem;
    border: 1px solid #000000;
    border-radius: 6%;
    width: 30rem;
    height: 8rem;
}

.cart__cart-elem__itemDetails {
    margin-right: 1vw;
    width: 100vw;
}

.cart__cart-elem__numberCntrl {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 23vw;
}

.cart__cart-elem__numberCntrl div {
    text-align: center;
}

.cart__cart-elem__numberCntrl button {
    border: none;
    border-radius: 25%;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: #cf0c0c;
}

.cart__cart-elem__numberCntrl span {
    margin: auto 0;
    font-size: 2rem;
}

.cart__cart-elem__numberCntrl__qnt {
    display: flex;
    justify-content: space-between;
}

.cart__summary-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
}

.cart__summary-container__content {
    margin-left: 2%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0 0.2rem;
    height: 40vh;
    font-size: 2rem;
}

.cart__summary-container div {
    text-align: center;
}

.cart__buyBtn {
    border: 1px solid #555555;
    border-radius: 15px;
    padding: 0.6rem 1rem;
    width: fit-content;
    font-size: 2vw;
    color: #fff;
    background-color: #cf0c0c;
}

#cartQnt {
    position: relative;
    vertical-align: middle;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
    background-color: #cf0c0c;
}