/* _-_-_- pages/START -_-_-_ */

$border: 1px solid peru;
$bg-title: black;
$main-color: rgb(143, 93, 44);

.store {
    display: flex;
    font-size: calc(.2rem + 1vw);
    ;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;

    &__container {
        display: flex;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
        justify-content: space-between;
    }
}

.filters {
    width: 25%;
    border: $border;
    padding: 0.3% 0.5%;
    border-radius: 1rem;
    height: fit-content;
}

.filters__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;

    & button {
        padding-left: 2%;
        padding-right: 2%;
        background-color: $main-color;
        color: white;
        border: $border;
        border-radius: 1rem;
        cursor: pointer;
    }
}

.filters__reset-btn {}

.filters__copyLink-btn {}

._filters {
    margin-bottom: 5%;
    border-radius: .5rem;
    border: $border;
    height: fit-content;
}

.filters__category {}

.filters__title {
    text-align: center;
    background-color: $bg-title;
    border-bottom: $border;
}

.filters__list {
    overflow: hidden;
    height: 18rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

// ------scroll-bar--------------
.filters__list::-webkit-scrollbar {
    width: 0.8em;
}

.filters__list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.filters__list::-webkit-scrollbar-thumb {
    background: $main-color;
}

.filters__list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// ------------------------------
.filters__list input[type="checkbox"] {
    margin-right: .5rem;
}

.filters__list div {
    margin: .5rem .5rem;
    overflow: hidden;
}

.filters__brand {}

.filters__price {}

.filters__stock {}

.products {
    width: 74%;
    border: $border;
    padding: .6rem;
    border-radius: 1rem;
}

.sort-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sort-bar {
    & select {
        cursor: pointer;
        background-color: $bg-title;
        border: $border;
        color: white;
        border-radius: 2rem;
        padding: .2rem .8rem;
    }
}

.stat {}

.search-bar {}

.search-bar>input {
    text-align: center;
    background-color: $bg-title;
    outline: none;
    color: white;
    border-radius: 2rem;
    border: $border;
}

.view-mode {
    display: flex;
    width: 6rem;
    justify-content: space-around;
}

.view-mode>div {
    cursor: pointer;
    background-color: peru;
    padding: .1rem .6rem;
    border-radius: .5rem;
}

.view-mode__small {}

.view-mode__big {}

.products__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

._resize-products {
    grid-template-columns: repeat(5, 1fr);

    &>.card {
        height: 10vw;

        & .card__btns {
            font-size: .6vw;
        }
    }

    & .card__info {
        display: none;
    }
}

// -----------------
.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10% auto;
}

.sliders_control {
    position: relative;
    min-height: 50px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: $main-color;
    margin-bottom: 6vh;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: $main-color;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #555;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

#fromSliderStock {
    height: 0;
    z-index: 1;
}

.disable-filters {
    color: gray;

    &~span {
        color: gray;
    }
}