/* _-_-_- layout/LAYOUT -_-_-_ */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20rem;
    padding-left: 20rem;
    width: 100%;
    max-width: $max-width;

    @include respond-to("large") {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    @include respond-to("medium") {
        position: relative;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @include respond-to("mobile") {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
