/* _-_-_- layout/LAYOUT -_-_-_ */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 100%;
    @include respond-to("large") {
      padding-left: 30rem;
      padding-right: 30rem;
    }
    @include respond-to("medium"){
      padding-left: 20rem;
      padding-right: 20rem;
      position: relative;
    }
    @include respond-to("mobile"){
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }
